.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 8px;
  background-color: #7514F6;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  font: inherit;
}

.button {
  width: 32px;
  height: 32px;
  z-index: 30;
  display: flex;
  gap: 5px;
  flex-grow: 0;
  align-items: center;
  margin-top: 5px;
  margin-right: -48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 5px;
  /* background-color: #D3D3D3; */
  background: url('./search.svg') no-repeat center center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*
.button:hover,
.button:focus {
  background-color: #848484;
} */

.input {
  min-width: 250px;
  padding: 10px 15px 10px 40px;
  font-size: 16px;
  border-color: transparent;
  border-radius: 5px;
}
